# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Scripts
*.bat
*.ps1

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET MAUI
*.mlproj
*.sln.DotSettings.user
.maui/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Visual Studio
.vs/
*.cache
*.db
*.db-shm
*.db-wal

# Rider
*.DotSettings.user

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
